<div class="search-container mt-4">
  <input
    [formControl]="searchControl"
    placeholder="Search for a movie..."
    class="search-bar-input"
  />

  <ng-icon
    class="search-icon"
    name="bootstrapSearch"
    role="img"
    aria-label="search-icon"
  ></ng-icon>

  @if (results.length > 0 && searchControl.value) {
  <ul class="search-dropdown">
    @for (movie of results; track movie.id) {
    <li
      tabindex="0"
      role="button"
      (click)="apiService.goToDetails(movie.id)"
      (keydown.enter)="apiService.goToDetails(movie.id)"
    >
      {{ movie.title }}
    </li>
    }
  </ul>
  } @if (!results.length && searchControl.value) {
  <div class="no-results">Nema rezultata.</div>
  }
</div>
