<div class="d-flex justify-content-center">
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="form mt-5 w-75">
    <div class="card shadow p-4 signup-card">
      <h4 class="text-center mb-3">Sign Up</h4>
      <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input
          type="email"
          formControlName="email"
          id="email"
          placeholder="Enter Email"
          class="form-control"
        />
        @if(signupForm.get('email')?.hasError('required') &&
        signupForm.get('email')?.touched){
        <div>Email is required.</div>
        }@else if (signupForm.get('email')?.hasError('invalidEmail') &&
        signupForm.get('email')?.touched) {
        <div>Please enter a valid email.</div>
        }
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input
          type="password"
          formControlName="password"
          id="password"
          placeholder="Enter Password"
          class="form-control"
        />
        @if(signupForm.get('password')?.hasError('required') &&
        signupForm.get('password')?.touched){
        <div>Password is required.</div>
        }@else if (signupForm.get('password')?.hasError('invalidPassword') &&
        signupForm.get('password')?.touched) {
        <div>
          Password must contain uppercase, lowercase, numbers, and be at least 6
          characters long.
        </div>
        }
      </div>

      <div class="mb-3">
        <label for="firstName" class="form-label">First Name:</label>
        <input
          type="text"
          formControlName="firstName"
          id="firstName"
          placeholder="Enter First Name"
          class="form-control"
        />
        @if(signupForm.get('firstName')?.hasError('required') &&
        signupForm.get('firstName')?.touched){
        <div>First name is required.</div>
        } @else if (signupForm.get('firstName')?.hasError('minlength') &&
        signupForm.get('firstName')?.touched){
        <div>First name must be at least 2 characters.</div>
        }
      </div>

      <div class="mb-3">
        <label for="lastName" class="form-label">Last Name:</label>
        <input
          type="text"
          formControlName="lastName"
          id="lastName"
          placeholder="Enter Last Name"
          class="form-control"
        />
        @if ( signupForm.get('lastName')?.hasError('required') &&
        signupForm.get('lastName')?.touched ) {
        <div>Last name is required.</div>
        } @else if ( signupForm.get('lastName')?.hasError('minlength') &&
        signupForm.get('lastName')?.touched ) {
        <div>Last name must be at least 2 characters.</div>
        }
      </div>

      <button
        type="submit"
        [disabled]="signupForm.invalid"
        class="btn btn-primary"
      >
        Sign Up
      </button>
    </div>
  </form>
</div>
